body{ 
    background:white ;
}

header{ 
background-color: #7CA06A;
width: 1940px;
height: 162px;
font-size: 64px;
text-align: center; 
margin-top: 20px;
}

#galho{ 
   position: absolute;
   left:1700px;
   top:7px;
}